.tabla-instrumentos-container {
    padding: 50px;
}

.div-titulo{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.titulo{
    font-size: 30px;
    font-weight: bold;
    color: #503838;
}

.btn-agregar{
    background-color: #dababa; 
    border: solid 1px #503838;
    border-radius: 25px;
    color: #503838;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-agregar:hover{
    background-color: #503838; 
    color: white;
    transform: scale(1.05);
    transition-duration: 0.4s;
}

.tabla-instrumentos {
    width: 100%;
    border-collapse: collapse;
}

.tabla-instrumentos th,
.tabla-instrumentos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabla-instrumentos th {
    background-color: #dababa;
}

.tabla-instrumentos tr:nth-child(even) {
    background-color: #f9f9f9;
}

.img{
    width: 50px;
    height: 50px;
    border-radius: 20%;
}

.icon{
    width: 30px;
    height: 30px;;
    border: none;
    background-color: transparent;
}

.modal{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
}